/*! Isaac Alejandro López Castrejón | 2017 */
.label_input
{
    position: absolute;
    z-index: 10;
    font-size: 11px;
    bottom: 25px;
    left: 0px;
}

input.transparente
{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 6px 0px 6px 9px !important;
}

input.transparente ~ .moneda-symbol
{
    bottom: 1px;
    left: 15px;
}

[class|=col] .label_input
{
    left: 15px;
}

.check_select
{
    position: absolute;
    z-index: 10;
    bottom: 32px;
    left: 16px;
}

.check_select ~ .label_input
{
    bottom: 26px;
    left: 32px;
}

.form-group-sm .form-control
{
    margin-top: 20px;
}

.form-group-lg .moneda
{
    padding-left:19px;
}

.form-group-lg .moneda-symbol
{
    position: absolute;
    z-index: 10;
    font-size: 18px;
    bottom: 5px;
    left: 21px;
}

.form-group .moneda, .form-group-md .moneda
{
    padding-left:17px;
}

.form-group .moneda-symbol, .form-group-md .moneda-symbol
{
    position: absolute;
    z-index: 10;
    bottom: 2px;
    left: 20px;
}

.form-group-sm .moneda
{
    padding-left:16px;
}

.form-group-sm .moneda-symbol
{
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 20px;
}

.form-group-lg .centimetros
{
    padding-right: 31px;
}

.form-group-lg .centimetros-symbol
{
    position: absolute;
    right: 21px;
    z-index: 10;
    font-size: 18px;
    bottom: 0;
    margin-bottom: 11px
}

.form-group .centimetros, .form-group-md .centimetros
{
    padding-right: 24px;
}

.form-group .centimetros-symbol, .form-group-md .centimetros-symbol
{
    position: absolute;
    right: 21px;
    z-index: 10;
    bottom: 0;
    margin-bottom: 22px;
}

.form-group-sm .centimetros
{
    padding-right: 20px;
}

.form-group-sm .centimetros-symbol
{
    position: absolute;
    right: 21px;
    z-index: 10;
    font-size: 11px;
    bottom: 0;
    margin-bottom: 7px;
}

.form-group-lg .cantidad
{
    padding-right: 40px;
}

.form-group-lg .cantidad-symbol
{
    position: absolute;
    right: 21px;
    z-index: 10;
    bottom: 0;
    margin-bottom: 13px;
}

.form-group .cantidad, .form-group-md .cantidad
{
    padding-right: 33px;
}

.form-group .cantidad-symbol, .form-group-md .cantidad-symbol
{
    position: absolute;
    right: 21px;
    z-index: 10;
    font-size: 11px;
    bottom: 0;
    margin-bottom: 24px;
}

.form-group-sm .cantidad
{
    padding-right: 30px;
}

.form-group-sm .cantidad-symbol
{
    position: absolute;
    right: 21px;
    z-index: 10;
    font-size: 11px;
    bottom: 0;
    margin-bottom: 7px;
}

.form-group-lg .porcentaje
{
    padding: 7px 23px 7px 12px !important;
}

.form-group-lg .span_porcentaje
{
    position: absolute;
    right: 22px;
    z-index: 10;
    bottom: 0px;
    margin-bottom: 11px;
}

.form-group .porcentaje, .form-group-md .porcentaje
{
    padding: 7px 23px 7px 12px !important;
}

.form-group .span_porcentaje, .form-group-md .span_porcentaje
{
    position: absolute;
    right: 22px;
    z-index: 10;
    bottom: 0px;
    margin-bottom: 21px;
}

.form-group-sm .porcentaje
{
    padding: 7px 23px 7px 12px !important;
}

.form-group-sm .span_porcentaje
{
    position: absolute;
    right: 22px;
    z-index: 10;
    bottom: 0px;
    margin-bottom: 5px;
}

.form-group-lg .horas
{
    padding-right: 31px;
}

.form-group-lg .horas-symbol
{
    position: absolute;
    right: 23px;
    z-index: 10;
    font-size: 18px;
    bottom: 10px;
}

.form-group .horas, .form-group-md .horas
{
    padding-right: 24px;
}

.form-group .horas-symbol, .form-group-md .horas-symbol
{
    position: absolute;
    right: 21px;
    z-index: 10;
    bottom: 8px;
}

.form-group-sm .horas
{
    padding-right: 20px;
}

.form-group-sm .horas-symbol
{
    position: absolute;
    right: 21px;
    z-index: 10;
    font-size: 11px;
    bottom: 0;
    margin-bottom: 7px;
}